/* Extend*/
.titulares, .h3-bold {
  color: #ED6A4C;
  font-size: 3rem;
  font-weight: 500;
}

.banner-estilo, .banner, .banner-preventa {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

/* Mixins */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Extend*/
.titulares, .h3-bold {
  color: #ED6A4C;
  font-size: 3rem;
  font-weight: 500;
}

.banner-estilo, .banner, .banner-preventa {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

/* Mixins */
.navbar {
  padding-bottom: 1.5rem;
  background-color: #e2e2e2;
}

.navbar a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size 1s;
  transition: background-size 1s;
  background-position: 0% 100%;
  color: #ED6A4C;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.navbar a:hover {
  color: #ED6A4C !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #ED6A4C;
}

.dropdown-menu a:hover {
  background-color: #919191;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-menu {
  min-width: 100%;
  text-align: right;
}

.dropdown-menu {
  min-width: 100%;
  text-align: right;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-menu a {
  font-size: 1rem;
  font-weight: 600;
}

.dropdown-menu a a:hover {
  background-color: #919191;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-menu ali a:hover {
  color: #ED6A4C;
  background-size: 100% 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-img {
  width: 23vh;
}

.color-change-2x {
  width: 100%;
  height: 20px;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #ED6A4C;
  }
  100% {
    background: #f53003;
  }
}

@keyframes color-change-2x {
  0% {
    background: #ED6A4C;
  }
  100% {
    background: #f53003;
  }
}

.color-change-2x2 {
  width: 100%;
  height: 20px;
  -webkit-animation: color-change-2x2 2s linear infinite alternate both;
  animation: color-change-2x2 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x2 {
  0% {
    background: #ff086f;
  }
  100% {
    background: #ca017d;
  }
}

@keyframes color-change-2x2 {
  0% {
    background: #ff086f;
  }
  100% {
    background: #ca017d;
  }
}

/* FONDO JINXED*/
.color-change-p {
  width: 100%;
  height: 20px;
  -webkit-animation: color-change-p 2s linear infinite alternate both;
  animation: color-change-p 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-p {
  0% {
    color: #ED6A4C;
  }
  100% {
    color: #fd0bfd;
  }
}

@keyframes color-change-p {
  0% {
    color: #ED6A4C;
  }
  100% {
    color: #fd0bfd;
  }
}

.productos_img img {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: 1s;
  transition: 1s;
}

.productos_img img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/* Extend*/
.titulares, .h3-bold {
  color: #ED6A4C;
  font-size: 3rem;
  font-weight: 500;
}

.banner-estilo, .banner, .banner-preventa {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

/* Mixins */
.banner {
  background-image: url("../img/hjinx.jpg");
  color: #fff;
  height: 100vh;
}

.banner-preventa {
  background-image: url("../img/preventa/bannerpreventa.jpg");
  color: #fff;
  height: 90vh;
}

.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 80vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #ED6A4C;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
}

.banner-sub-heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.banner-sub-heading {
  line-height: 2.1em;
  margin-bottom: 25px;
}

.btn {
  background-color: #ED6A4C;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ce3813;
  border: none;
  color: #fff;
}

iframe {
  width: 100%;
  height: 50vh;
}

.contenedor-principal {
  margin-bottom: 30vh;
}

.card-group {
  gap: 20px;
  margin: 200px 100px;
}

.card-group .card {
  padding-bottom: 50px;
}

.card-group-title {
  font-weight: 700;
}

.card-group-text {
  font-style: italic;
  padding-top: 15px;
}

.arcane__izquierda {
  width: 100%;
}

.arcane-caja {
  width: 100%;
  margin-top: 80px;
}

.arcane__parrafo__principal {
  font-size: 1.5rem;
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
}

.arcane_parrafo__inferior1, .arcane_parrafo__inferior2 {
  font-size: 1rem;
  color: #fff;
  text-align: justify;
}

.arcane_boton {
  background-color: #b5318b;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-top: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arcane_boton:hover {
  background-color: #b1067b;
}

.arcane_boton a {
  text-decoration: none;
  color: #fff;
}

.preventa-fondo {
  background: #080a09;
  background: linear-gradient(356deg, #080a09 0%, #0e100e 100%);
  height: 100%;
}

.titulo-preventa {
  font-family: 'Anton', sans-serif;
  color: #b5318b;
  font-size: 7rem;
}

.h6-preventa {
  font-size: 3rem;
  color: #fff;
}

.btn-talles {
  background-color: #ED6A4C;
  font-size: 2rem;
}

.btn-talles:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cajas-colores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.cajas-colores .caja1 {
  width: 60px;
  height: 60px;
  background-color: #000;
  color: transparent;
}

.cajas-colores .caja2 {
  width: 60px;
  height: 60px;
  background-color: gray;
  color: transparent;
}

.cajas-colores .caja3 {
  width: 60px;
  height: 60px;
  background-color: #ff3c00;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .row-margin {
    margin-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner {
    background-position: right;
    background-size: cover;
    height: 65vh;
  }
  .banner-text {
    padding: 0;
    height: 50vh;
  }
  .banner-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 0;
    color: #ED6A4C;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    padding-top: 200px;
  }
  .banner-sub-heading {
    line-height: 2rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .img-nosotros {
    width: 100%;
  }
  .card-group {
    margin: 200px 20px;
  }
  .iframe-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .titulo-preventa {
    font-size: 5rem;
  }
  iframe {
    height: 50vh;
  }
}

@media screen and (max-width: 1440px) {
  .banner-sub-heading {
    line-height: 30px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .banner-preventa {
    background-image: url("../img/preventa/mpreventa.png");
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 66vh;
  }
}

@media screen and (max-width: 425px) {
  .banner-preventa {
    background-image: url("../img/preventa/smpreventa.png");
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 90vh;
  }
  .banner-text {
    padding: 0;
    height: 60vh;
  }
}

.h3-bold {
  font-weight: 800;
  padding-bottom: 20px;
}

.contenedor--video {
  margin-bottom: 100px;
  margin-top: 15rem;
}

.row-margin {
  margin-bottom: 2rem;
}

.container-background {
  background-color: #ffb8a6;
  padding: 2rem;
}

.blockquote-footer {
  color: #42494d;
  font-weight: 700;
}

blockquote {
  font-weight: 800;
}

.nuestro-proceso h2 {
  color: #ED6A4C;
  margin-bottom: 2rem;
}

.gray-trans {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.a-gray img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  background-color: #ce3813;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  background-color: #fd0bfd;
}

.form-check-input:checked {
  background-color: #ED6A4C;
  border-color: #ED6A4C;
}

.form-check-input:focus {
  border-color: #f7ae9e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control {
  width: 100%;
}

.preventa-color {
  color: #ED6A4C;
}

.iframe-mapa {
  height: 50vh;
}
/*# sourceMappingURL=main.css.map */