.h3-bold {
    @extend .titulares;
    font-weight: 800;
    padding-bottom: 20px; }
  
  .contenedor--video {
    margin-bottom: 100px;
    margin-top: 15rem; }
  
  .row-margin {
    margin-bottom: 2rem; }
  
  .container-background {
    background-color: #ffb8a6;
    padding: 2rem; }
  
  .blockquote-footer {
    color: #42494d;
    font-weight: 700; }
  
  blockquote {
    font-weight: 800; }
  
  .nuestro-proceso h2 {
    color: $color;
    margin-bottom: 2rem; }
  
  .gray-trans {
    filter: grayscale(100%); }
  
  .a-gray img:hover {
    filter: grayscale(0);
    transition: 0.7s; }
  
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    background-color: #ce3813;
    box-shadow: none;
    border-color: none;
    transition: 0.5s; }
  
  .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    background-color: #fd0bfd; }
  
  .form-check-input:checked {
    background-color: $color;
    border-color: $color; }
  
  .form-check-input:focus {
    border-color: #f7ae9e;
    box-shadow: none; }
    
  .form-control {
      width: 100%; }
  
  .preventa-color {
    color: $color; }