@media screen and (max-width: 768px) {
    .row-margin {
      margin-bottom: 2rem;
      flex-direction: column; }
    .banner {
      background-position: right;
      background-size: cover;
      height: 65vh; }
    .banner-text {
      padding: 0;
      height: 50vh; }
    .banner-heading {
      font-size: 2rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 0;
      color: $color;
      text-transform: uppercase;
      font-family: 'Heebo', sans-serif;
      padding-top: 200px; }
    .banner-sub-heading {
      line-height: 2rem;
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 1rem; }
    .img-nosotros {
      width: 100%; }
    .card-group {
      margin: 200px 20px; }
    .iframe-footer {
      flex-direction: column;
      align-content: space-around; } 
    .titulo-preventa {
      font-size: 5rem;}
      iframe {
        height: 50vh;
      }
}
  
  @media screen and (max-width: 1440px) {
    .banner-sub-heading {
      line-height: 30px;
      margin-bottom: 25px; } 
    }
  
  @media screen and (max-width: 1024px) {
    .banner-preventa {
      background-image: url("../img/preventa/mpreventa.png");
      color: $color-blanco;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      height: 66vh; 
    }
  }
  
  @media screen and (max-width: 425px){
    .banner-preventa {
      background-image: url("../img/preventa/smpreventa.png");
      color: #fff;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      height: 90vh; 
    }
    .banner-text {
      padding: 0;
      height: 60vh; }

  }


