@import "./var";

.navbar {
    padding-bottom: 1.5rem;
    background-color: #e2e2e2; }
  
  nav a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 1px; 
    transition: background-size 1s;
    background-position: 0% 100%;
    color: $color;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem; }
  
  nav a:hover {
    color: $color !important; }
  
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: $color; }

  .dropdown-menu a:hover {
    background-color: #919191;
    color: $color-blanco;
    transition: 0.5s; }
  
  .dropdown-menu {
    min-width: 100%;
    text-align: right; }
  
    .dropdown-menu a:hover {
        background-color: #919191;
        color: $color-blanco;
        transition: 0.5s; }
      
      .dropdown-menu {
        min-width: 100%;
        text-align: right; }

        .dropdown-menu {
            background: transparent;
            border: none; }
          
          .dropdown-menu a {
            font-size: 1rem;
            font-weight: 600; }
          
          .li a:hover {
            color: $color;
            background-size: 100% 2px;
            transition: 0.2s; }
          
          .nav-img {
            width: 23vh; }