$color: #ED6A4C;
$color-blanco: #fff;
$titular--estilosBlanco: (
    tamaño: 3rem,
    color: $color-blanco,
);

/* Extend*/

.titulares {
    color: $color;
    font-size: map-get($map: $titular--estilosBlanco, $key:tamaño );
    font-weight: 500;  
}

.banner-estilo {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/* Mixins */

@mixin sizes ($width,$mtop){
    width: $width;
    margin-top: $mtop;
}

@mixin width-img ($width-img){
    width: $width-img;
}